<script type="text/javascript" src="http://meta100.github.com/mColorPicker/javascripts/mColorPicker_min.js" charset="UTF-8"></script>

<section id="interface">
	<% flash.each do |name, msg| %>
		<%= content_tag :div, msg, :class => "flash", :id => "#{name}", :style => "display:none;"%>
		<script>$('.flash').fadeIn().delay(2000).fadeOut('slow'); </script>
	<% end %>
	
	<div id="close" class="i_button right">Close</div>
	<!-- <br class="clear" /> -->
	
	<section id="welcome">
		<h1> Build-A-Site </h1>
		<p>Websites, without the work</p>
		<ol>
			<li>Choose what kind of site you are trying to make </li>
			<li>Tweak the colors if you wish</li>
			<li>Download your CSS file</li>
			<li>Go watch all three director's cut versions of The Lord Of The Rings - You just saved yourself a boat-load of time</li>
		</ol>
	</section>
	<br clas="clear" />
	<%= form_tag "/", :id => 'site_form' do %>

		<div>
			<h4>Logo Color</h4>
			<%= text_field_tag :accent_color, "rgb(#{@color_1})", :type => "color", "data-text" => "hidden"%>
		</div>
		<div class="third <%= 'inactive' unless @button_color_customized %>">
			<h4>Button Color</h4>
			<%= hidden_field_tag :button_color_customized, @button_color_customized%>
			<%= text_field_tag :button_color, "rgb(#{@color_2})", :type => "color", "data-text" => "hidden"%>
		</div>
		<div class="third <%= 'inactive' unless @background_color_customized %>">
			<h4>Background</h4>
			<%= hidden_field_tag :background_color_customized, @background_color_customized %> 
			<%= text_field_tag :background_color, "rgb(#{@color_3})", :type => "color", "data-text" => "hidden"%>
		</div>
		<br class="clear" />
		
		<div>
			<h4>Website Type</h4>
			<%= radio_button_tag(:type, "social", @site_type == 'social') %>
			<%= label_tag("Social") %>
			<%= radio_button_tag(:type, "webapp", @site_type == 'webapp') %>
			<%= label_tag("Webapp") %>
			<%= radio_button_tag(:type, "lifestyle", @site_type == 'lifestyle') %>
			<%= label_tag("Lifestyle") %>
			<%= radio_button_tag(:type, "b2b", @site_type == 'b2b') %>
			<%= label_tag('B2b', 'B2B') %>
		</div>
		
		<div id="service_type" style="display:none">
			<h4>What are you providing? [these don't do anything right now]</h4>
			<%= radio_button_tag(:service, "platform") %>
			<%= label_tag("Service") %>
			<%= radio_button_tag(:service, "platform") %>
			<%= label_tag("Platform") %>
			<%= radio_button_tag(:service, "neither") %>
			<%= label_tag("Neither") %>
		</div>
		
		<div>
			<h4>Mobile?</h4>
			<%= check_box_tag(:mobile, 1, @mobile)%>
		</div>

		<%= submit_tag "Update CSS", :class => "i_button update" %>
		
		<br class="clear" />
		<%= link_to "Download CSS file",
		 "/styles.css?type=#{@site_type}&accent_color=#{@color_1}&button_color=#{@color_2}&background_color=#{@color_3}&mobile=#{@mobile ? 1 : 0}"%>
	<% end %>
</section>
<div id="open" class="i_button open_b" style="display:none">Show Controls</div>

<script>
	$(document).ready(function(){
		if ( $('#type_b2b').is(':checked') ){
			$('#service_type').show();
		}
	});

	$('#close').click(function(){
		console.log("asdf");
		$('#interface').hide();
		$('#website').width('100%');
		$('#open').show();
	});
	
	$('#open').click(function(){
		$('#interface').show();
		$('#website').width('82%');
		$('#open').hide();
	});
	
	$('.inactive').click(function(e){
		$(this).find('input[type=hidden]:first').val('true');
		$(this).removeClass('inactive');
	});
	
	$('input[name=type]').change(function(){
		if ( $('#type_b2b').is(':checked') ){
			// $('#service_type').show();
		} else {
			// $('#service_type').hide(); 
		}
	});
</script>