<style>
	<%= render 'css.css.erb' %>


</style>

<section id="website">
	<header>
		<div class="content">
			<div id="logo">myLogo</div>
			<nav><ul>
				<li class="selected">Home</li>
				<li>About</li>
				<li>Blog</li>
				<li>Contact</li>
			</ul></nav>
		</div>
	</header>

	<% if @hard_sides %>
	<div id="container">
	<% else %>
	<div id="top_background">
	<% end %>
		<section id="top">
			<%= raw("<div id='iPhone'>") if @mobile %>
			<div id="eye_candy"></div>
			<%= raw("</div>") if @mobile %>
			<hgroup>
				<h1>Your Four Word Slogan</h1>
				<h2>This is a one sentence long elaboration of the above slogan. Second sentence is optional.</h2>

				<div class="center_hack">
					<div class="inner">
						<div class="button try_it">
							Click Here <%=@site_type%>!
						</div>
					</div>
				</div>

			</hgroup>
			<br class="clear" />
		</section>
	<%= raw("</div>") unless @hard_sides %>

	<section id="bottom">
		<% if @b2b %>
		<section id="endorsements">
			Hundreds of Happy Customers!
			<div class="logos"></div>
		</section>
		<% end %>
		<section id="value_propositions">
			<details>
				<% if @b2b %>
				<img src="http://placekitten.com/g/60/60" />
				<h3>Because We Are Awesome</h3>
				<% else %>
				<h3>Because We Are Awesome</h3>
				<img src="http://placekitten.com/g/60/60" />
				<% end %>
				<p>Now we are engaged in a great civil war, testing whether that nation, or any nation so conceived and so dedicated, can long endure. </p>
			</details>
		
			<details>
				<% if @b2b %>
				<img src="http://placekitten.com/g/60/61" />
				<h3>We Get Shit Done</h3>
				<% else %>
				<h3>We Get Shit Done</h3>
				<img src="http://placekitten.com/g/60/61" />
				<% end %>
				<p>We are met on a great battle-field of that war. We have come to dedicate a portion of that field,</p>
			</details>
		
			<details>
				<% if @b2b %>
				<img src="http://placekitten.com/g/61/60" />
				<h3>Yesterday Was Thursday</h3>
				<% else %>
				<h3>Yesterday Was Thursday</h3>
				<img src="http://placekitten.com/g/61/60" />
				<% end %>
				<p>As a final resting place for those who here gave their lives that that nation might live. It is altogether fitting and proper that we should do this. together fitting and proper that we should do</p>
			</details>
			<br class="clear" />
		</section>
	</section>
	<%= raw("</div><div id='container_shadow'></div>") if @hard_sides %>
	
	<footer> 
		<span class="left">Copyright XYZ Corp 2011</span> 
		<span class="right links">
			<a href="#">about</a> / 
			<a href="#">facebook</a> / 
			<a href="#">twitter</a>
		</span>
	</footer>
	
</section>

<%= render 'controls'%>